* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.App {
  background-color: #181818;
  min-height: 100vh;
  color: white;
}

.App .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #292929;
  height: 7vh;
}

.App .navbar .logo {
  font-size: 22px;
}

.App .navbar .logo i {
  margin-right: 10px;
  font-size: 30px;
}

.App .navbar .navbar_menu .link {
  color: inherit;
  text-decoration: none;
  margin-right: 10px;
  font-size: 18px;
}

.App .navbar .navbar_menu .link:hover {
  text-decoration: underline;
}

.App .home {
  padding: 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 86vh;
}

.App .home .user {
  margin-right: 100px;
}

.App .home .user .user_title {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 200;
}

.App .home .user .user_wrapper {
  border: 2px solid #575757;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
}

.App .home .user .user_wrapper img {
  width: 100%;
  border-radius: 50%;
}

.App .home .user .user_wrapper .name {
  margin-top: 20px;
}

.App .home .user .user_wrapper .bio {
  margin: 20px 0px;
}

.App .home .user .user_wrapper .follow i {
  margin-right: 10px;
}

.App .home .user .user_wrapper .location i {
  margin-right: 10px;
}

.App .home .repos .repos_title {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 200;
}

.App .home .repos .repos_title .repos_num {
  background-color: gray;
  border-radius: 100px;
  padding: 0px 7px;
  font-size: 17px;
}

.App .home .repos .repos_item {
  width: 600px;
  border: 2px solid #575757;
  border-radius: 7px;
  padding: 5px 20px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.App .home .repos .repos_item:hover {
  background-color: #252525;
}

.App .home .repos .repos_item .repos_index {
  margin-right: 30px;
  width: 3%;
}

.App .home .repos .repos_item .repo_info {
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .home .repos .repos_item .repo_info .repo_info_main .repo_name {
  font-size: 18px;
  margin-bottom: 7px;
}

.App .home .repos .repos_item .repo_info .repo_info_main .repo_name span:first-child {
  margin-right: 30px;
  color: #0096ff;
}

.App .home .repos .repos_item .repo_info .repo_info_main .repo_name span:last-child {
  font-size: 12px;
  background-color: #575757;
  padding: 0px 10px;
  border-radius: 20px;
}

.App .home .repos .repos_item .repo_info .repo_info_main .repo_lang span:first-child {
  margin-right: 30px;
}

.App .home .repos .repos_item .repo_info .repo_info_main .repo_lang span .updated {
  color: orange;
}

.App .home .repos .repos_item .repo_info .owner img {
  width: 40px;
  border-radius: 50%;
}

.App .search {
  min-height: 86vh;
}

.App .search .search_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.App .search .search_input form input {
  font-size: 17px;
  padding: 5px 10px;
  border: none;
  background-color: #4d4d4d;
  color: white;
  border-radius: 5px;
}

.App .search .search_input form input:focus {
  outline: none;
}

.App .search .search_input form button {
  cursor: pointer;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  padding: 5px 10px;
  background-color: #818181;
  color: #1a1a1a;
}

.App .search .search_input form button:hover {
  background-color: #9e9e9e;
}

.App .search .search_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50vh;
}

.App .search .search_profile .search_profile_title {
  font-weight: 200;
  padding-bottom: 20px;
}

.App .search .search_profile .profile_wrapper {
  border: 2px solid #575757;
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
}

.App .search .search_profile .profile_wrapper .img_wrapper {
  width: 50%;
}

.App .search .search_profile .profile_wrapper .img_wrapper a img {
  width: 400px;
  border-radius: 50%;
}

.App .search .search_profile .profile_wrapper .profile_info {
  width: 50%;
}

.App .search .search_profile .profile_wrapper .profile_info .profile_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

.App .search .search_profile .profile_wrapper .profile_info .profile_element span {
  width: 50%;
}

.App .search .search_profile .profile_wrapper .profile_info .profile_element span:first-child {
  color: #646464;
}

.App .search .search_profile .profile_wrapper .profile_info .profile_element span:last-child {
  font-size: 18px;
  text-align: right;
}

.App .search .search_profile .profile_wrapper .profile_info .profile_element a {
  color: inherit;
  text-decoration: none;
}

.App .search .search_profile .no_profile {
  font-weight: 200;
  margin-top: 100px;
}

.App .search .profile_repos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .search .profile_repos .repos_title {
  text-align: center;
  font-weight: 200;
  padding: 20px 0px;
}

.App .search .profile_repos .repos_title .repos_num {
  background-color: gray;
  border-radius: 100px;
  padding: 0px 7px;
  font-size: 17px;
}

.App .search .profile_repos .profile_repos_item {
  width: 1000px;
  border: 2px solid #575757;
  border-radius: 7px;
  padding: 5px 20px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.App .search .profile_repos .profile_repos_item:hover {
  background-color: #252525;
}

.App .search .profile_repos .profile_repos_item .repos_index {
  margin-right: 30px;
  width: 3%;
}

.App .search .profile_repos .profile_repos_item .repo_info {
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .search .profile_repos .profile_repos_item .repo_info .repo_info_main .repo_name {
  font-size: 18px;
  margin-bottom: 7px;
}

.App .search .profile_repos .profile_repos_item .repo_info .repo_info_main .repo_name span:first-child {
  margin-right: 30px;
  color: #0096ff;
}

.App .search .profile_repos .profile_repos_item .repo_info .repo_info_main .repo_name span:last-child {
  font-size: 12px;
  background-color: #575757;
  padding: 0px 10px;
  border-radius: 20px;
}

.App .search .profile_repos .profile_repos_item .repo_info .repo_info_main .repo_lang span:first-child {
  margin-right: 30px;
}

.App .search .profile_repos .profile_repos_item .repo_info .repo_info_main .repo_lang span .updated {
  color: orange;
}

.App .search .profile_repos .profile_repos_item .repo_info .owner img {
  width: 40px;
  border-radius: 50%;
}

.App .footer {
  height: 7vh;
  background-color: #292929;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=App.css.map */